In [8]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\iced2\\asu-tem-virt-fin-pt-04-2021-u-c\\Homework\\02-Python\\Instructions'

In [9]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 'FinTech_Unit_2_Homework_ Grading_Rubric - PyBank.pdf',
 'FinTech_Unit_2_Homework_ Grading_Rubric.pdf',
 'Images',
 'PyBank',
 'PyRamen',
 'README.md',
 'Untitled.ipynb']

In [10]:
cd PyBank/

C:\Users\iced2\asu-tem-virt-fin-pt-04-2021-u-c\Homework\02-Python\Instructions\PyBank

In [11]:
cd Resources/

C:\Users\iced2\asu-tem-virt-fin-pt-04-2021-u-c\Homework\02-Python\Instructions\PyBank\Resources

In [12]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\iced2\\asu-tem-virt-fin-pt-04-2021-u-c\\Homework\\02-Python\\Instructions\\PyBank\\Resources'

In [13]:
os.listdir(os.getcwd())

['.ipynb_checkpoints', 'budget_data.csv']

In [18]:
pd.read_csv('budget_data.csv')

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [23]:
import pandas
df = pandas.read_csv('budget_data.csv')
print(df)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [31]:
df.sum(axis = 1, skipna = True)

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Length: 86, dtype: int64

In [32]:
import pandas
df = pandas.read_csv('budget_data.csv')
print(df)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [33]:
column_name = "Profit/Losses"
column_sum = df[column_name].sum()
print (column_sum)

38382578

In [34]:
print(column_sum)

38382578